body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f5f5f5;
}

.wrapper > div {
    display: flex;
    flex-direction: column;
}

.usd {
    margin-top: 50px;
}

.eur {
    margin-top: 50px;
}

input {
    padding: 10px 20px;
}

label {
    font-size: 20px;
}